<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="nav-left">
                <a href="/about/" class="nav-link">ABOUT</a>
            </div>
            
            <div class="nav-center">
                <a href="{{ "/" | relURL }}" class="nav-logo">
                    <img src="{{ "logo_icon.png" | relURL }}" alt="{{ .Site.Title }}" class="nav-logo-img">
                </a>
            </div>
            
            <div class="nav-right">
                <div class="nav-menu" id="nav-menu">
                    <a href="/blog/" class="nav-link">BLOG</a>
                    <a href="/talks/" class="nav-link">EVENTS</a>
                    <div class="theme-toggle-switch" id="theme-toggle" aria-label="Toggle theme">
                        <div class="theme-toggle-track">
                            <div class="theme-toggle-slider"></div>
                        </div>
                    </div>
                </div>
                
                <div class="nav-toggle" id="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    </div>
</header>